@()

@main("Learn-Duel Info") {
    <div>

          <h1><span class="title" >Learn Duel</span> </h1>
    <p>The game Learn Duel is based on QuizDuel and works in a similar fashion, but with a new twist:
        <br />
        You play with questions based on your school or study assignments.
        <br>
        <figure>
            <img src="@routes.Assets.versioned("images/game.PNG")" width="400" height="300" border="1"/>
            <figcaption> View of Learn Duel gameplay </figcaption>
        </figure>

    </p>

    <h3>How to play :</h3>

    <p>First you have to type in your player name(s).
        <br />
        If you are playing alone, the answers can be selected with the mouse or the keys 1-4.
        <br />In multiplayer mode player 1 can specify his answer with the keys 1-4 and\nplayer 2 with the keys 6-9.
        <br /><br />
        By clicking "Play Learn Duel", you enter the game mode.
        <br />
        You will have 60 seconds to answer each question.</p>

    <h3><strong>Possible features in future:</strong></h3>

    <ul class="list" >
        <li>defining own questions</li>
        <li>increase max player count</li>
    </ul>

    <h3>Supported Browsers:</h3>
    <table class="center" border="1">
        <tbody>
            <tr>
                <td>Edge</td>
                <td>Chrome</td>
                <td>Safari</td>
                <td>Firefox</td>
                <td>Opera</td>
            </tr>
            <tr>
                <td>    &#10004;</td>
                <td>    &#10004;</td>
                <td>    &#10004;</td>
                <td>    &#10004;</td>
                <td>    &#10004;</td>
            </tr>
        </tbody>
    </table>

    <h4>License:</h4>
    <p>This work is licensed under the terms of the MIT license. For a copy, see <a class="link" href="https://opensource.org/licenses/MIT">
        MIT license</a> .
        <br /><br />
        If you would like to contribute, you can access our sources under following GitHub repository.
    </p>

    <p>
        <a class="link" href="https://github.com/webbureaucrat/learn-duel-webApp" target="_blank" rel="noopener">Learn-Duel</a>
    </p>

    </div>
}
