@()


@main("Learn-Duel Info") {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src='@routes.Assets.versioned("vue/components/about.js")'></script>
    <script src='@routes.Assets.versioned("vue/components/question.js")'></script>
    <script src='@routes.Assets.versioned("vue/components/result.js")'></script>
    <script src='@routes.Assets.versioned("vue/components/nav-bar.js")'></script>
    <script src='@routes.Assets.versioned("vue/components/main-content.js")'></script>

    <div id="app"></div>

}
