@import de.htwg.se.learn_duel.model.Question
@(question: Question)

@main("Questions") {
    <div class="row">
        <div class="col align-self-center">
            <h1 class="text-center">@question.text</h1>

            <div>Remaining Time: <span id="countdown">60</span></div>

            <div class="list-group">
            @for(p <- question.answers) {
                <a href="@routes.HomeController.onAnswerChosen(p.id)" class="list-group-item list-group-item-action">@p.text</a>
            }
            </div>
        </div>
    </div>
}