@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo
@import views.html.helper._


@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User, totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{
    b4.vertical.fieldConstructor()
}

@main(messages("home.title"), Some(user)) {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

    <script src='@assets.path("vue/components/main-content.js")'></script>

    <div id="app"></div>

    <script>
            const app = new Vue({
                el: '#app',
                render: function (html) {
                    console.log("try to connect with websocket");
                    return html(MainContent.default, {
                        props: {
                            show: "question"
                        }
                    });
                }
            })
    </script>
}
